{% extends 'base.html.twig' %}

{% block title %}{{ user.pseudo }} profil!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h1 class="mt-5">Profil de {{ user.pseudo }}</h1>
            </div>
            <div class="col-12 mt-5 d-flex justify-content-around">
                <div class="col-6">
                    <p>Pseudo : {{ user.pseudo }}</p>
                    <p>Email : {{ user.email }}</p>
                </div>
                <div class="col-6">
                    <p>PO total récolté </p>
                    <p>{{ sumUser }}</p>
                </div>
            </div>
            <div class="d-flex justify-content-center col-12">
                <h2>Mes personnages</h2>
            </div>
            <div class="d-flex justify-content-end col-12">
                <a href="{{ path('character_new') }}"><img class="add-icon" src="{{ asset('build/images/add.png') }}" alt="logo-add"></a>
            </div>
            <div class="col-12 mb-3 mt-5 d-flex justify-content-around flex-wrap">
                {% include 'Components/character/card.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
