
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Oracle{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    <link rel="stylesheet" href="css/material-icons.css">
    {{ encore_entry_link_tags('datepicker') }}
    {% block stylesheets %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('/build/images/android-chrome-512x512.png') }}" type="image/x-icon">
    <header>
        {% block header %}
            {% include 'Components/navbar.html.twig' %}
        {% endblock %}
    </header>
</head>
<body>
{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}
</body>
{{ encore_entry_script_tags('app') }}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
{{ encore_entry_script_tags('datepicker') }}
{% block javascripts %}{% endblock %}
</html>